/* * { outline: 1px pink solid } */
body {
  background: white;
  font-family: 'Jost', sans-serif;
}

a:hover { text-decoration:none; }

#social-links {
  width: 250px;
  margin: 0em auto;
  display: flex;
  justify-content: space-evenly;
}

i {
  color: #767676;
  transition: 0.5s color linear;
}

#social-links i:hover {
  color: #823b51;
}

.profile-pic {
  display: block;
  height: 200px;
  width: 200px;
  margin: 7em auto 0px auto;
  border-radius: 100%;
  padding: 4px;
  border: 2px solid #CDB0B9;
}

h1 {
  text-align: center;
  margin: 0.1em auto;
  color: #823b51;
}
